<% if @cart.items.empty? %>
<h1>My Cart is Empty</h1>
<% else %>
<p>
  else this text!
</p>
<% @cart.each do |key, value| %>
<%= key.name %>
<%= key.price %>
<%= key.image_url %>
<%= value %>
<% end %>
