<% binding.pry %>
<h1>My Cart is Empty</h1>
<% else %>
<p>
  else this text!
</p>
<<<<<<< Updated upstream
<% @cart.each do |key, value| %>
<%= key.name %>
<%= key.price %>
<%= key.image_url %>
<%= value %>
<% end %>
=======
>>>>>>> Stashed changes
