.top-nav {
  padding-top: 40px;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.top-nav a {
  color: gray;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
  font-size: 1.5rem;
}
